@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Sans+Caption:wght@700&display=swap");
body {
  margin-top: 0;
  box-sizing: border-box;
  padding: 0;
  /* font-family: sans-serif, M; */
  /* background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%); */
  /* background-color: #f5d020; */
  /* background-image: linear-gradient(330deg, #f5d020 80%, #f53803 74%); */

  /* background-color: #003b64; */
  /* background-image: linear-gradient(315deg, #003b64 70%, #feb002 70%); */
  font-family: "Merriweather", serif;

  /* background-color: #003b64;
  background-image: linear-gradient(315deg, #003b64 0%, #fff200 74%); */
  font-family: "Merriweather", serif;
  /* font-weight: 400; */
  /* background: linear-gradient(to right, #bd3f32, #cb356b); */

  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #bd3f32, #cb356b); */
  /* background: linear-gradient(to right, #000, #cb356b); */
  /* background: radial-gradient(#000, black); */
  /* background-color: ; */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header-text {
  font-family: Gilroy, "Circular Std", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.custom-shape-divider-bottom-1650484785 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1650484785 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 112px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1650484785 .shape-fill {
  fill: #ffffff;
}
.home {
  min-height: 82vh;
  background-color: #2b2631;
}

.header-p {
  font-style: oblique;
}
.name {
  font-weight: 700;
}
.test-bg {
  background-image: linear-gradient(-190deg, #06304e 70%, #d6960b 100%);
}

.btn {
  background: #f5d020;
}

@media (max-width: 310px) {
  .name {
    display: none;
  }
}

.linear {
  background-color: #2b2631;

  /* background: linear-gradient(to right, #c9493b, #6b0f31); */
  /* background: radial-gradient(rgb(1, 2, 20), rgba(0, 0, 0, 0.925));
   */
  /* background-color: #f6d327;
  background-image: linear-gradient(315deg, #f6d327 0%, #de4daa 74%);
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
  background-color: #ef5734;
  background-image: linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%);
  background-color: #003b64;
  background-image: linear-gradient(315deg, #003b64 0%, #fff200 74%);
  background-color: #fdb813;
  background-image: linear-gradient(315deg, #fdb813 0%, #788cb6 74%); */
}

.scoreboard {
  /* background-color: red; */
  min-height: 80vh;
}
.navbar {
  min-height: 80vh;
}
